/*  your css code here. If applicable */
#grid{
	display:grid;
}
.box{
	background:green;
	color:white;
	font-size:25px;
	margin:2px;
	padding:10px;
	
}
.box1{
	grid-column-start:1;
	grid-column-end:10;
}
.box2{
	grid-column-start:1;
	grid-column-end:4;
	grid-row-start:2;
	grid-row-end:6;
}
.box3{
	grid-column-start:4;
	grid-column-end:6;
}
.box4{
	grid-column-start:6;
	grid-column-end:10;
}

.box5{
	grid-column-start:4;
	grid-column-end:8;
}
.box6{
	grid-column-start:8;
	grid-column-end:10;
}
.box7{
	grid-column-start:4;
	grid-column-end:6;
}
.box8{
	grid-column-start:6;
	grid-column-end:8;
}
.box9{
	grid-column-start:8;
	grid-column-end:10;
}
.box10{
	grid-column-start:4;
	grid-column-end:10;
}
